body{
    width: 1000px;
    margin: auto;
    font-size: 130%;
    background-color: #181818;
    color: #F8F8F8;
    font-family: Opensans;
    word-spacing: 110%;
    background-image: url(../images/gris2.png);
    background-size : auto;
}
header{
    margin-bottom:15%;
    background-color: #2B2B2B;
    padding: 2% 3% 0 3%;
    border-bottom: 1px solid white;
    user-select: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
h2{
    margin-right: 30%;
}
h3{
    border: 1px solid white;
    padding: 3px 7px;
}
h3:hover{ 
    background-color: white;
    color: #2B2B2B;
}
p{
    margin: 10px;
}
article{
    border-radius: 10px;
    margin-bottom: 7%;
    border-bottom: 1px solid white;
}
img{
    width: 20%;
    margin: 10px;
}
main{
    display: flex;
    flex-flow:wrap column;
}
main article{
    background-color: #2B2B2B;
}
footer{
    border-top: 1px solid white;
}
#art2, #art3, #art4{
    display: flex;
}
#divimg{
    border: none;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#art2, #art4{
    flex-direction:row-reverse;
}
#img4, #img5{
    min-width: 20%;
}
#img3, #img4, #head3{
    border-radius: 0 10px 10px 0;
}
#img1, #img5, #head1{
    border-radius: 10px 0 0 10px;
}
@font-face{
    font-family: Opensans;
    src: url(../Font/OpenSans.ttf);
}
