html{
    scroll-behavior: smooth;
}
body{
    width: 1000px;
    margin: auto;
    font-size: 130%;
    background-color: #181818;
    color: #F8F8F8;
    font-family: Opensans;
    word-spacing: 110%;
    background-image: url(../images/gris2.png);
}
header{
    margin-bottom:15%;
    background-color: #2B2B2B;
    padding: 2% 3% 0 3%;
    border-bottom: 1px solid white;
    user-select: none;
    display: flex;
    flex-flow: row wrap;
}
h1{
    margin-right: 8%;
    font-size: 175%;
    font-family: 'Times New Roman', serif;
    text-shadow:0 0 3px #ffffff,0 0 35px #ffffff,0px 0px 5px #ffffff, 0 0 350px #ffffff;color:#ffffff;
}
nav{
    margin: auto;
    display: flex;
}
nav > div{
    margin: 10px;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #F8F8F8;
}
nav a{
    text-decoration: none;
    color: #F8F8F8;
}
nav div:hover{
    background-color: #F8F8F8;
}
nav div:hover a{
    color: #2B2B2B;
}
a:visited{
    color: #F8F8F8;
}
nav #menu3:hover{
    border-radius: 0 10px 0 0;
}
nav > div:hover > div.submenu{
    display: block;
}
p{
    margin: 10px;
    text-align: justify;
}
article{
    border-radius: 10px;
    margin-bottom: 7%;
    border-bottom: 1px solid white;
}
img{
    width: 20%;
    margin: 10px;
}
main{
    display: flex;
    flex-flow:wrap column;
}
main article{
    background-color: #2B2B2B;
}
footer{
    border-top: 1px solid #F8F8F8;
}
.submenu a:hover{
    color: #b9b9b9;
}
.submenu{
    position: absolute;
    padding: 0 2px 10px 0;
    top: 50px;
    left: -1px;
    background-color: #F8F8F8;
    display: none;
    width: 100%;
    text-align: center;
}
.menu{
    padding: 3px 7px;
    font-size: 150%;
}
.retourHaut{
    height: 40px;
    width: 40px;
    position: fixed;
    right: 5px;
    bottom: 5px;
}
#submenu2{
    border-bottom-right-radius: 10px;
}
#submenu1{
    border-radius: 0 0 3px 3px;
}
#art2, #art3, #art4{
    display: flex;
}
#divimg{
    border: none;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#art2, #art4{
    flex-direction:row-reverse;
}
#img4, #img5{
    min-width: 20%;
}
#img3, #img4, #menu3{
    border-radius: 0 10px 10px 0;
}
#img1, #img5, #menu1{
    border-radius: 10px 0 0 10px;
}
@font-face{
    font-family: Opensans;
    src: url(../Font/OpenSans.ttf);
}
